modules/datex-schemas/src/main/resources/DatexII_3/DATEXII_3_Vms.xsd

<?xml version="1.0" encoding="utf-8" standalone="no"?>
<xs:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:vms="http://datex2.eu/schema/3/vms" version="3.1" targetNamespace="http://datex2.eu/schema/3/vms" xmlns:com="http://datex2.eu/schema/3/common" xmlns:loc="http://datex2.eu/schema/3/locationReferencing" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://datex2.eu/schema/3/locationReferencing" schemaLocation="DATEXII_3_LocationReferencing.xsd" />
  <xs:import namespace="http://datex2.eu/schema/3/common" schemaLocation="DATEXII_3_Common.xsd" />
  <xs:complexType name="_ColourEnum">
    <xs:simpleContent>
      <xs:extension base="vms:ColourEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_CompositePictogramEnum">
    <xs:simpleContent>
      <xs:extension base="vms:CompositePictogramEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_DedicatedUsageEnum">
    <xs:simpleContent>
      <xs:extension base="vms:DedicatedUsageEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_DisplayedNumericalInformationTypeEnum">
    <xs:simpleContent>
      <xs:extension base="vms:DisplayedNumericalInformationTypeEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_GddServiceCategoryEnum">
    <xs:simpleContent>
      <xs:extension base="vms:GddServiceCategoryEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_ImageFormatEnum">
    <xs:simpleContent>
      <xs:extension base="vms:ImageFormatEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_InformationTypeEnum">
    <xs:simpleContent>
      <xs:extension base="vms:InformationTypeEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_MessageInformationTypeEnum">
    <xs:simpleContent>
      <xs:extension base="vms:MessageInformationTypeEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_MultiPageDisplayPageNumberDisplayAreaSettings">
    <xs:sequence>
      <xs:element name="displayAreaSettings" type="vms:DisplayAreaSettings" minOccurs="1" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="pageNumber" type="xs:int" use="required" />
  </xs:complexType>
  <xs:complexType name="_PhysicalSupportEnum">
    <xs:simpleContent>
      <xs:extension base="vms:PhysicalSupportEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_PictogramEnum">
    <xs:simpleContent>
      <xs:extension base="vms:PictogramEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_PositionXAbsoluteEnum">
    <xs:simpleContent>
      <xs:extension base="vms:PositionXAbsoluteEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_PositionXRelativeEnum">
    <xs:simpleContent>
      <xs:extension base="vms:PositionXRelativeEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_PositionYAbsoluteEnum">
    <xs:simpleContent>
      <xs:extension base="vms:PositionYAbsoluteEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_PositionYRelativeEnum">
    <xs:simpleContent>
      <xs:extension base="vms:PositionYRelativeEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_SettingReasonEnum">
    <xs:simpleContent>
      <xs:extension base="vms:SettingReasonEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_SituationRecordVersionedReference">
    <xs:complexContent>
      <xs:extension base="com:VersionedReference">
        <xs:attribute name="targetClass" type="xs:string" use="required" fixed="sit:SituationRecord" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="_SituationVersionedReference">
    <xs:complexContent>
      <xs:extension base="com:VersionedReference">
        <xs:attribute name="targetClass" type="xs:string" use="required" fixed="sit:Situation" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="_SupplementalPictogramEnum">
    <xs:simpleContent>
      <xs:extension base="vms:SupplementalPictogramEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_TextDisplayLineIndexTextLine">
    <xs:sequence>
      <xs:element name="textLine" type="vms:TextLine" minOccurs="1" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="lineIndex" type="xs:int" use="required" />
  </xs:complexType>
  <xs:complexType name="_UnitOfMeasureEnum">
    <xs:simpleContent>
      <xs:extension base="vms:UnitOfMeasureEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_VmsConfigurationDisplayAreaIndexDisplayArea">
    <xs:sequence>
      <xs:element name="displayArea" type="vms:DisplayArea" minOccurs="1" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="displayAreaIndex" type="xs:int" use="required" />
  </xs:complexType>
  <xs:complexType name="_VmsControllerFaultEnum">
    <xs:simpleContent>
      <xs:extension base="vms:VmsControllerFaultEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_VmsControllerStatusVmsIndexVmsStatus">
    <xs:sequence>
      <xs:element name="vmsStatus" type="vms:VmsStatus" minOccurs="1" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="vmsIndex" type="xs:int" use="required" />
  </xs:complexType>
  <xs:complexType name="_VmsControllerTableVersionedReference">
    <xs:complexContent>
      <xs:extension base="com:VersionedReference">
        <xs:attribute name="targetClass" type="xs:string" use="required" fixed="vms:VmsControllerTable" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="_VmsControllerVersionedReference">
    <xs:complexContent>
      <xs:extension base="com:VersionedReference">
        <xs:attribute name="targetClass" type="xs:string" use="required" fixed="vms:VmsController" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="_VmsControllerVmsIndexVms">
    <xs:sequence>
      <xs:element name="vms" type="vms:Vms" minOccurs="1" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="vmsIndex" type="xs:int" use="required" />
  </xs:complexType>
  <xs:complexType name="_VmsFaultEnum">
    <xs:simpleContent>
      <xs:extension base="vms:VmsFaultEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_VmsMessageDisplayAreaIndexDisplayAreaSettings">
    <xs:sequence>
      <xs:element name="displayAreaSettings" type="vms:DisplayAreaSettings" minOccurs="1" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="displayAreaIndex" type="xs:int" use="required" />
  </xs:complexType>
  <xs:complexType name="_VmsStatusMessageIndexVmsMessage">
    <xs:sequence>
      <xs:element name="vmsMessage" type="vms:VmsMessage" minOccurs="1" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="messageIndex" type="xs:int" use="required" />
  </xs:complexType>
  <xs:complexType name="_VmsTypeEnum">
    <xs:simpleContent>
      <xs:extension base="vms:VmsTypeEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_WorkingStatusEnum">
    <xs:simpleContent>
      <xs:extension base="vms:WorkingStatusEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="ColourEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="amber" />
      <xs:enumeration value="blue" />
      <xs:enumeration value="green" />
      <xs:enumeration value="red" />
      <xs:enumeration value="white" />
      <xs:enumeration value="whiteYellow" />
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CompositePictogram">
    <xs:complexContent>
      <xs:extension base="vms:Pictogram">
        <xs:sequence>
          <xs:element name="pictogramDescription" type="vms:_CompositePictogramEnum" minOccurs="1" maxOccurs="1" />
          <xs:element name="regularPictogram" type="vms:RegularPictogram" />
          <xs:element name="_compositePictogramExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="CompositePictogramEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="conditionOnCurrentSectionAfterNextExit" />
      <xs:enumeration value="conditionAtNextExit" />
      <xs:enumeration value="conditionOnCurrentSectionAfterSecondtExit" />
      <xs:enumeration value="conditionAtSecondExit" />
      <xs:enumeration value="restrictionOnCurrentSectionAfterNextExit" />
      <xs:enumeration value="restrictionAtNextExit" />
      <xs:enumeration value="restrictionOnCurrentSectionAfterSecondExit" />
      <xs:enumeration value="restrictionAtSecondtExit" />
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DedicatedUsageEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="energyInformation" />
      <xs:enumeration value="inspectionArea" />
      <xs:enumeration value="laneControlSystem" />
      <xs:enumeration value="parkingInformation" />
      <xs:enumeration value="rampMetering" />
      <xs:enumeration value="tunnelManagement" />
      <xs:enumeration value="other" />
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="DisplayArea">
    <xs:sequence>
      <xs:element name="sequencingCapable" type="com:Boolean" minOccurs="0" maxOccurs="1" />
      <xs:element name="maxNumberOfSequentialPages" type="com:NonNegativeInteger" minOccurs="0" maxOccurs="1" />
      <xs:element name="positionXAbsolute" type="vms:_PositionXAbsoluteEnum" minOccurs="0" maxOccurs="1" />
      <xs:element name="positionXRelativeToPrevious" type="vms:_PositionXRelativeEnum" minOccurs="0" maxOccurs="1" />
      <xs:element name="positionYAbsolute" type="vms:_PositionYAbsoluteEnum" minOccurs="0" maxOccurs="1" />
      <xs:element name="positionYRelativeToPrevious" type="vms:_PositionYRelativeEnum" minOccurs="0" maxOccurs="1" />
      <xs:element name="displayGeometry" type="vms:DisplayGeometry" minOccurs="0" />
      <xs:element name="overriddenLaneAssociation" type="loc:Lane" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="_displayAreaExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DisplayAreaSettings" abstract="true">
    <xs:sequence>
      <xs:element name="isBlank" type="com:Boolean" minOccurs="0" maxOccurs="1" />
      <xs:element name="legallyBinding" type="com:Boolean" minOccurs="0" maxOccurs="1" />
      <xs:element name="legalBasis" type="com:MultilingualString" minOccurs="0" maxOccurs="1" />
      <xs:element name="_displayAreaSettingsExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DisplayedNumericalInformation">
    <xs:sequence>
      <xs:element name="numericalInformationType" type="vms:_DisplayedNumericalInformationTypeEnum" minOccurs="1" maxOccurs="1" />
      <xs:element name="numericValue" type="com:Decimal" minOccurs="1" maxOccurs="1" />
      <xs:element name="unitOfMeasure" type="vms:_UnitOfMeasureEnum" minOccurs="1" maxOccurs="1" />
      <xs:element name="_displayedNumericalInformationExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="DisplayedNumericalInformationTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="distance" />
      <xs:enumeration value="height" />
      <xs:enumeration value="length" />
      <xs:enumeration value="rateOfIncline" />
      <xs:enumeration value="sectionLength" />
      <xs:enumeration value="speed" />
      <xs:enumeration value="weight" />
      <xs:enumeration value="weightPerAxle" />
      <xs:enumeration value="width" />
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="DisplayGeometry">
    <xs:sequence>
      <xs:element name="pixelsAcross" type="com:NonNegativeInteger" minOccurs="0" maxOccurs="1" />
      <xs:element name="pixelsDown" type="com:NonNegativeInteger" minOccurs="0" maxOccurs="1" />
      <xs:element name="displayHeight" type="com:MetresAsFloat" minOccurs="0" maxOccurs="1" />
      <xs:element name="displayWidth" type="com:MetresAsFloat" minOccurs="0" maxOccurs="1" />
      <xs:element name="positionX" type="com:MetresAsFloat" minOccurs="0" maxOccurs="1" />
      <xs:element name="positionY" type="com:MetresAsFloat" minOccurs="0" maxOccurs="1" />
      <xs:element name="_displayGeometryExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GddPictogramAttributes">
    <xs:sequence>
      <xs:element name="attributes" type="com:Base64Binary" minOccurs="1" maxOccurs="1" />
      <xs:element name="_gddPictogramAttributesExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="GddPictogramCategoryCode">
    <xs:restriction base="xs:positiveInteger" />
  </xs:simpleType>
  <xs:complexType name="GddPictogramIdentification">
    <xs:sequence>
      <xs:element name="country" type="com:CountryCode" minOccurs="1" maxOccurs="1" />
      <xs:element name="serviceCategory" type="vms:_GddServiceCategoryEnum" minOccurs="1" maxOccurs="1" />
      <xs:element name="pictogramCategoryCode" type="vms:GddPictogramCategoryCode" minOccurs="1" maxOccurs="1" />
      <xs:element name="_gddPictogramIdentificationExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="GddServiceCategoryEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="dangerWarning" />
      <xs:enumeration value="regulatory" />
      <xs:enumeration value="informative" />
      <xs:enumeration value="publicFacilities" />
      <xs:enumeration value="ambientConditions" />
      <xs:enumeration value="roadConditions" />
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="GddStructure">
    <xs:sequence>
      <xs:element name="gddPictogramIdentification" type="vms:GddPictogramIdentification" />
      <xs:element name="gddPictogramAttributes" type="vms:GddPictogramAttributes" minOccurs="0" />
      <xs:element name="_gddStructureExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Image">
    <xs:sequence>
      <xs:element name="imageData" type="com:Base64Binary" minOccurs="1" maxOccurs="1" />
      <xs:element name="imageFormat" type="vms:_ImageFormatEnum" minOccurs="1" maxOccurs="1" />
      <xs:element name="_imageExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ImageFormatEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="bmp" />
      <xs:enumeration value="gif" />
      <xs:enumeration value="jpeg" />
      <xs:enumeration value="png" />
      <xs:enumeration value="tiff" />
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="InformationTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="situationInformation" />
      <xs:enumeration value="warning" />
      <xs:enumeration value="prohibition" />
      <xs:enumeration value="obligation" />
      <xs:enumeration value="destination" />
      <xs:enumeration value="travelTime" />
      <xs:enumeration value="delay" />
      <xs:enumeration value="location" />
      <xs:enumeration value="vehicleType" />
      <xs:enumeration value="generalInformation" />
      <xs:enumeration value="blank" />
      <xs:enumeration value="other" />
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ManagedLogicalLocation">
    <xs:sequence>
      <xs:element name="managedLogicalLocation" type="com:MultilingualString" minOccurs="0" maxOccurs="1" />
      <xs:element name="distanceFromLogicalLocation" type="com:MetresAsNonNegativeInteger" minOccurs="0" maxOccurs="1" />
      <xs:element name="managedLocation" type="loc:Location" minOccurs="0" />
      <xs:element name="_managedLogicalLocationExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="MessageInformationTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="campaignMessage" />
      <xs:enumeration value="dateTime" />
      <xs:enumeration value="futureInformation" />
      <xs:enumeration value="instructionOrMessage" />
      <xs:enumeration value="situationWarning" />
      <xs:enumeration value="temperature" />
      <xs:enumeration value="trafficManagement" />
      <xs:enumeration value="travelTime" />
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="MultiPageDisplay">
    <xs:complexContent>
      <xs:extension base="vms:DisplayAreaSettings">
        <xs:sequence>
          <xs:element name="sequenceGroupNumber" type="com:NonNegativeInteger" minOccurs="0" maxOccurs="1" />
          <xs:element name="displayAreaSettings" type="vms:_MultiPageDisplayPageNumberDisplayAreaSettings" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="_multiPageDisplayExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="PhysicalSupportEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="centralReservationMounted" />
      <xs:enumeration value="gantryMounted" />
      <xs:enumeration value="overheadBridgeMounted" />
      <xs:enumeration value="roadsideCantileverMounted" />
      <xs:enumeration value="roadsideMounted" />
      <xs:enumeration value="trailerMounted" />
      <xs:enumeration value="tunnelEntranceMounted" />
      <xs:enumeration value="vehicleMounted" />
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Pictogram" abstract="true">
    <xs:sequence>
      <xs:element name="customPictogramCode" type="com:String" minOccurs="0" maxOccurs="1" />
      <xs:element name="additionalDescription" type="com:MultilingualString" minOccurs="0" maxOccurs="1" />
      <xs:element name="pictogramFlashing" type="com:Boolean" minOccurs="0" maxOccurs="1" />
      <xs:element name="pictogramInInverseColour" type="com:Boolean" minOccurs="0" maxOccurs="1" />
      <xs:element name="viennaConventionCompliant" type="com:Boolean" minOccurs="0" maxOccurs="1" />
      <xs:element name="pictogramInformationType" type="vms:_InformationTypeEnum" minOccurs="0" maxOccurs="1" />
      <xs:element name="gddStructure" type="vms:GddStructure" minOccurs="0" />
      <xs:element name="_pictogramExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PictogramDisplay">
    <xs:complexContent>
      <xs:extension base="vms:DisplayAreaSettings">
        <xs:sequence>
          <xs:element name="isPrimaryPictogram" type="com:Boolean" minOccurs="0" maxOccurs="1" />
          <xs:element name="pictogramDisplayUrl" type="com:Url" minOccurs="0" maxOccurs="1" />
          <xs:element name="pictogram" type="vms:Pictogram" />
          <xs:element name="supplementaryInformationDisplay" type="vms:SupplementaryInformationDisplay" minOccurs="0" />
          <xs:element name="image" type="vms:Image" minOccurs="0" />
          <xs:element name="_pictogramDisplayExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PictogramDisplayArea">
    <xs:complexContent>
      <xs:extension base="vms:DisplayArea">
        <xs:sequence>
          <xs:element name="pictogramCodeListIdentifier" type="com:String" minOccurs="0" maxOccurs="1" />
          <xs:element name="pictogramNumberOfColours" type="com:NonNegativeInteger" minOccurs="0" maxOccurs="1" />
          <xs:element name="_pictogramDisplayAreaExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="PictogramEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="blankVoid" />
      <xs:enumeration value="bridgeClosed" />
      <xs:enumeration value="carParkFull" />
      <xs:enumeration value="carParkSpacesAvailable" />
      <xs:enumeration value="corridorForEmergencyVehicleAccess" />
      <xs:enumeration value="curveArrowToLeft" />
      <xs:enumeration value="curveArrowToRight" />
      <xs:enumeration value="dangerOfFire" />
      <xs:enumeration value="doubleExitToLeft" />
      <xs:enumeration value="doubleExitToRight" />
      <xs:enumeration value="endOfAdvisorySpeed" />
      <xs:enumeration value="fastenChildrensSeatBelts" />
      <xs:enumeration value="fastenYourSeatBelt" />
      <xs:enumeration value="fire" />
      <xs:enumeration value="footballMatch" />
      <xs:enumeration value="hardShoulderNotRunning" />
      <xs:enumeration value="hardShoulderRunning" />
      <xs:enumeration value="horizontalDiversionToLeft" />
      <xs:enumeration value="horizontalDiversionToRight" />
      <xs:enumeration value="keepASafeDistance" />
      <xs:enumeration value="keepLeft" />
      <xs:enumeration value="keepRight" />
      <xs:enumeration value="lane1ClosedOf2" />
      <xs:enumeration value="lane2ClosedOf2" />
      <xs:enumeration value="lane1ClosedOf3" />
      <xs:enumeration value="lane3ClosedOf3" />
      <xs:enumeration value="lanes1And2ClosedOf3" />
      <xs:enumeration value="lanes2And3ClosedOf3" />
      <xs:enumeration value="lane1ClosedOf4" />
      <xs:enumeration value="lane4ClosedOf4" />
      <xs:enumeration value="lanes1And2ClosedOf4" />
      <xs:enumeration value="lanes3And4ClosedOf4" />
      <xs:enumeration value="lanes1And2And3ClosedOf4" />
      <xs:enumeration value="lanes2And3And4ClosedOf4" />
      <xs:enumeration value="leftHandLaneClosed" />
      <xs:enumeration value="narrowLanesAhead" />
      <xs:enumeration value="obliqueArrowToLeft" />
      <xs:enumeration value="obliqueArrowToRight" />
      <xs:enumeration value="pollutionOrSmogAlert" />
      <xs:enumeration value="rightHandLaneClosed" />
      <xs:enumeration value="singleExitToLeft" />
      <xs:enumeration value="singleExitToRight" />
      <xs:enumeration value="smoke" />
      <xs:enumeration value="snowPloughInAction" />
      <xs:enumeration value="speedCamerasInAction" />
      <xs:enumeration value="straightVerticalArrow" />
      <xs:enumeration value="trafficDeviatedToOppositeCarriagewayAhead" />
      <xs:enumeration value="trafficPartiallyDeviatedToOppositeCarriagewayAhead" />
      <xs:enumeration value="tunnelClosed" />
      <xs:enumeration value="verticalDiversion" />
      <xs:enumeration value="other" />
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PositionXAbsoluteEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="onLeft" />
      <xs:enumeration value="inTheMiddle" />
      <xs:enumeration value="onRight" />
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PositionXRelativeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="toTheLeft" />
      <xs:enumeration value="alignedOnTheLeftSide" />
      <xs:enumeration value="centred" />
      <xs:enumeration value="alignedOnTheRightSide" />
      <xs:enumeration value="toTheRight" />
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PositionYAbsoluteEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="atTop" />
      <xs:enumeration value="inTheMiddle" />
      <xs:enumeration value="atBottom" />
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PositionYRelativeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="above" />
      <xs:enumeration value="alignedOnTheTopSide" />
      <xs:enumeration value="centred" />
      <xs:enumeration value="alignedOnTheBottomSide" />
      <xs:enumeration value="below" />
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="RegularPictogram">
    <xs:complexContent>
      <xs:extension base="vms:Pictogram">
        <xs:sequence>
          <xs:element name="pictogramDescription" type="vms:_PictogramEnum" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="presenceOfRedTriangle" type="com:Boolean" minOccurs="0" maxOccurs="1" />
          <xs:element name="displayedNumericalInformation" type="vms:DisplayedNumericalInformation" minOccurs="0" maxOccurs="2" />
          <xs:element name="_regularPictogramExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="SettingReasonEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="situation" />
      <xs:enumeration value="operatorCreated" />
      <xs:enumeration value="trafficManagement" />
      <xs:enumeration value="travelTime" />
      <xs:enumeration value="campaign" />
      <xs:enumeration value="default" />
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SupplementalPictogramEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="distanceToTheBeginningOfTheApplicationZone" />
      <xs:enumeration value="exceptAnyPowerDrivenVehicleDrawingTrailer" />
      <xs:enumeration value="exceptBus" />
      <xs:enumeration value="exceptGoodsVehicles" />
      <xs:enumeration value="exceptSemitrailer" />
      <xs:enumeration value="exceptVehiclesCarryingDangerousGoods" />
      <xs:enumeration value="inCaseOfIceOrSnow" />
      <xs:enumeration value="lengthOfTheApplicationZone" />
      <xs:enumeration value="restrictedToAnyPowerDrivenVehicleDrawingTrailer" />
      <xs:enumeration value="restrictedToBus" />
      <xs:enumeration value="restrictedToGoodsVehicles" />
      <xs:enumeration value="restrictedToSemiTrailer" />
      <xs:enumeration value="restrictedToVehiclesCarryingDangerousGoods" />
      <xs:enumeration value="maintenanceVehicles" />
      <xs:enumeration value="snowPloughs" />
      <xs:enumeration value="other" />
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="SupplementaryInformationDisplay" abstract="true">
    <xs:complexContent>
      <xs:extension base="vms:DisplayAreaSettings">
        <xs:sequence>
          <xs:element name="_supplementaryInformationDisplayExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SupplementaryPanelArea">
    <xs:complexContent>
      <xs:extension base="vms:DisplayArea">
        <xs:sequence>
          <xs:element name="supplementaryPictogramCodeListIdentifier" type="com:String" minOccurs="0" maxOccurs="1" />
          <xs:element name="relatedPictogramArea" type="com:Integer" minOccurs="0" maxOccurs="1" />
          <xs:element name="_supplementaryPanelAreaExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SupplementaryPictogram">
    <xs:complexContent>
      <xs:extension base="vms:SupplementaryInformationDisplay">
        <xs:sequence>
          <xs:element name="pictogramDescription" type="vms:_SupplementalPictogramEnum" minOccurs="0" maxOccurs="1" />
          <xs:element name="pictogramCode" type="com:String" minOccurs="0" maxOccurs="1" />
          <xs:element name="pictogramUrl" type="com:Url" minOccurs="0" maxOccurs="1" />
          <xs:element name="additionalDescription" type="com:MultilingualString" minOccurs="0" maxOccurs="1" />
          <xs:element name="pictogramFlashing" type="com:Boolean" minOccurs="0" maxOccurs="1" />
          <xs:element name="pictogramInformationType" type="vms:_InformationTypeEnum" minOccurs="0" maxOccurs="1" />
          <xs:element name="_supplementaryPictogramExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SupplementaryText">
    <xs:complexContent>
      <xs:extension base="vms:SupplementaryInformationDisplay">
        <xs:sequence>
          <xs:element name="textLine" type="vms:TextLine" />
          <xs:element name="_supplementaryTextExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TextDisplay">
    <xs:complexContent>
      <xs:extension base="vms:DisplayAreaSettings">
        <xs:sequence>
          <xs:element name="textCode" type="com:String" minOccurs="0" maxOccurs="1" />
          <xs:element name="textImageUrl" type="com:Url" minOccurs="0" maxOccurs="1" />
          <xs:element name="textLine" type="vms:_TextDisplayLineIndexTextLine" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="_textDisplayExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TextDisplayArea">
    <xs:complexContent>
      <xs:extension base="vms:DisplayArea">
        <xs:sequence>
          <xs:element name="proportionalFont" type="com:Boolean" minOccurs="0" maxOccurs="1" />
          <xs:element name="maxNumberOfCharacters" type="com:NonNegativeInteger" minOccurs="0" maxOccurs="1" />
          <xs:element name="maxNumberOfRows" type="com:NonNegativeInteger" minOccurs="0" maxOccurs="1" />
          <xs:element name="textCodeListIdentifier" type="com:String" minOccurs="0" maxOccurs="1" />
          <xs:element name="maxFontHeight" type="com:NonNegativeInteger" minOccurs="0" maxOccurs="1" />
          <xs:element name="minFontHeight" type="com:NonNegativeInteger" minOccurs="0" maxOccurs="1" />
          <xs:element name="maxFontWidth" type="com:NonNegativeInteger" minOccurs="0" maxOccurs="1" />
          <xs:element name="minFontWidth" type="com:NonNegativeInteger" minOccurs="0" maxOccurs="1" />
          <xs:element name="maxFontSpacing" type="com:NonNegativeInteger" minOccurs="0" maxOccurs="1" />
          <xs:element name="minFontSpacing" type="com:NonNegativeInteger" minOccurs="0" maxOccurs="1" />
          <xs:element name="_textDisplayAreaExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TextLine">
    <xs:sequence>
      <xs:element name="textLine" type="com:String" minOccurs="1" maxOccurs="1" />
      <xs:element name="lineColour" type="vms:_ColourEnum" minOccurs="0" maxOccurs="1" />
      <xs:element name="lineFlashing" type="com:Boolean" minOccurs="0" maxOccurs="1" />
      <xs:element name="lineHtml" type="com:String" minOccurs="0" maxOccurs="1" />
      <xs:element name="isExactTextOnSign" type="com:Boolean" minOccurs="0" maxOccurs="1" />
      <xs:element name="textInformationType" type="vms:_InformationTypeEnum" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="_textLineExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="lineLanguage" type="com:Language" use="optional" />
  </xs:complexType>
  <xs:simpleType name="UnitOfMeasureEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="feet" />
      <xs:enumeration value="feetAndInches" />
      <xs:enumeration value="kilometres" />
      <xs:enumeration value="kilometresPerHour" />
      <xs:enumeration value="metres" />
      <xs:enumeration value="miles" />
      <xs:enumeration value="milesPerHour" />
      <xs:enumeration value="percentage" />
      <xs:enumeration value="tonnes" />
      <xs:enumeration value="yards" />
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Vms">
    <xs:sequence>
      <xs:element name="lanternsPresent" type="com:Boolean" minOccurs="0" maxOccurs="1" />
      <xs:element name="description" type="com:MultilingualString" minOccurs="0" maxOccurs="1" />
      <xs:element name="owner" type="com:MultilingualString" minOccurs="0" maxOccurs="1" />
      <xs:element name="physicalSupport" type="vms:_PhysicalSupportEnum" minOccurs="0" maxOccurs="1" />
      <xs:element name="vmsType" type="vms:_VmsTypeEnum" minOccurs="0" maxOccurs="1" />
      <xs:element name="vmsTypeCode" type="com:String" minOccurs="0" maxOccurs="1" />
      <xs:element name="dynamicallyConfigurable" type="com:Boolean" minOccurs="0" maxOccurs="1" />
      <xs:element name="displayHeight" type="com:MetresAsFloat" minOccurs="0" maxOccurs="1" />
      <xs:element name="displayWidth" type="com:MetresAsFloat" minOccurs="0" maxOccurs="1" />
      <xs:element name="heightAboveCarriageway" type="com:MetresAsFloat" minOccurs="0" maxOccurs="1" />
      <xs:element name="dedicatedUsage" type="vms:_DedicatedUsageEnum" minOccurs="0" maxOccurs="1" />
      <xs:element name="vmsConfiguration" type="vms:VmsConfiguration" />
      <xs:element name="vmsLocation" type="loc:Location" minOccurs="0" />
      <xs:element name="managedLogicalLocation" type="vms:ManagedLogicalLocation" minOccurs="0" />
      <xs:element name="imageLink" type="com:UrlLink" minOccurs="0" />
      <xs:element name="_vmsExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VmsConfiguration">
    <xs:sequence>
      <xs:element name="numberOfDisplayAreas" type="com:NonNegativeInteger" minOccurs="0" maxOccurs="1" />
      <xs:element name="displayArea" type="vms:_VmsConfigurationDisplayAreaIndexDisplayArea" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="_vmsConfigurationExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VmsController">
    <xs:sequence>
      <xs:element name="numberOfVms" type="com:NonNegativeInteger" minOccurs="0" maxOccurs="1" />
      <xs:element name="externalIdentifier" type="com:String" minOccurs="0" maxOccurs="1" />
      <xs:element name="ipAddress" type="com:String" minOccurs="0" maxOccurs="1" />
      <xs:element name="electronicAddress" type="com:String" minOccurs="0" maxOccurs="1" />
      <xs:element name="vms" type="vms:_VmsControllerVmsIndexVms" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="_vmsControllerExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required" />
    <xs:attribute name="version" type="xs:string" use="required" />
  </xs:complexType>
  <xs:complexType name="VmsControllerFault">
    <xs:complexContent>
      <xs:extension base="com:Fault">
        <xs:sequence>
          <xs:element name="vmsControllerFault" type="vms:_VmsControllerFaultEnum" minOccurs="1" maxOccurs="1" />
          <xs:element name="_vmsControllerFaultExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="VmsControllerFaultEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="communicationsFailure" />
      <xs:enumeration value="powerFailure" />
      <xs:enumeration value="unknown" />
      <xs:enumeration value="other" />
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="VmsControllerStatus">
    <xs:sequence>
      <xs:element name="vmsControllerTableReference" type="vms:_VmsControllerTableVersionedReference" minOccurs="1" maxOccurs="1" />
      <xs:element name="vmsControllerReference" type="vms:_VmsControllerVersionedReference" minOccurs="1" maxOccurs="1" />
      <xs:element name="statusUpdateTime" type="com:DateTime" minOccurs="0" maxOccurs="1" />
      <xs:element name="informationManagerOverride" type="com:InternationalIdentifier" minOccurs="0" />
      <xs:element name="vmsStatus" type="vms:_VmsControllerStatusVmsIndexVmsStatus" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="vmsControllerFault" type="vms:VmsControllerFault" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="_vmsControllerStatusExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VmsControllerTable">
    <xs:sequence>
      <xs:element name="vmsControllerTableIdentification" type="com:String" minOccurs="0" maxOccurs="1" />
      <xs:element name="informationManager" type="com:InternationalIdentifier" minOccurs="0" />
      <xs:element name="vmsController" type="vms:VmsController" maxOccurs="unbounded" />
      <xs:element name="_vmsControllerTableExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required" />
    <xs:attribute name="version" type="xs:string" use="required" />
  </xs:complexType>
  <xs:complexType name="VmsFault">
    <xs:complexContent>
      <xs:extension base="com:Fault">
        <xs:sequence>
          <xs:element name="vmsFault" type="vms:_VmsFaultEnum" minOccurs="1" maxOccurs="1" />
          <xs:element name="_vmsFaultExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="VmsFaultEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="incorrectMessageDisplayed" />
      <xs:enumeration value="incorrectPictogramDisplayed" />
      <xs:enumeration value="outOfService" />
      <xs:enumeration value="unableToClearDown" />
      <xs:enumeration value="unknown" />
      <xs:enumeration value="other" />
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="VmsMessage">
    <xs:sequence>
      <xs:element name="associatedTrafficManagementPlan" type="com:String" minOccurs="0" maxOccurs="1" />
      <xs:element name="messageSetBy" type="com:MultilingualString" minOccurs="0" maxOccurs="1" />
      <xs:element name="setBySystem" type="com:Boolean" minOccurs="0" maxOccurs="1" />
      <xs:element name="reasonForSetting" type="com:MultilingualString" minOccurs="0" maxOccurs="1" />
      <xs:element name="codedReasonForSetting" type="vms:_SettingReasonEnum" minOccurs="0" maxOccurs="1" />
      <xs:element name="messageInformationType" type="vms:_MessageInformationTypeEnum" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="primarySetting" type="com:Boolean" minOccurs="0" maxOccurs="1" />
      <xs:element name="mareNostrumCompliant" type="com:Boolean" minOccurs="0" maxOccurs="1" />
      <xs:element name="timeLastSet" type="com:DateTime" minOccurs="1" maxOccurs="1" />
      <xs:element name="requestedBy" type="com:MultilingualString" minOccurs="0" maxOccurs="1" />
      <xs:element name="relatedSituation" type="vms:_SituationVersionedReference" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="relatedSituationRecord" type="vms:_SituationRecordVersionedReference" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="distanceFromClosestSituationRecord" type="com:MetresAsFloat" minOccurs="0" maxOccurs="1" />
      <xs:element name="sequencingInterval" type="com:Seconds" minOccurs="0" maxOccurs="1" />
      <xs:element name="displayAreaSettings" type="vms:_VmsMessageDisplayAreaIndexDisplayAreaSettings" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="image" type="vms:Image" minOccurs="0" />
      <xs:element name="_vmsMessageExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VmsPublication">
    <xs:complexContent>
      <xs:extension base="com:PayloadPublication">
        <xs:sequence>
          <xs:element name="headerInformation" type="com:HeaderInformation" />
          <xs:element name="vmsControllerStatus" type="vms:VmsControllerStatus" maxOccurs="unbounded" />
          <xs:element name="_vmsPublicationExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="VmsStatus">
    <xs:sequence>
      <xs:element name="flashingLightsOn" type="com:Boolean" minOccurs="0" maxOccurs="1" />
      <xs:element name="remainingPowerCapacity" type="com:Seconds" minOccurs="0" maxOccurs="1" />
      <xs:element name="statusUpdateTime" type="com:DateTime" minOccurs="0" maxOccurs="1" />
      <xs:element name="sequencingInterval" type="com:Seconds" minOccurs="0" maxOccurs="1" />
      <xs:element name="workingStatus" type="vms:_WorkingStatusEnum" minOccurs="0" maxOccurs="1" />
      <xs:element name="vmsDynamicConfiguration" type="vms:VmsConfiguration" minOccurs="0" />
      <xs:element name="vmsMessage" type="vms:_VmsStatusMessageIndexVmsMessage" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="vmsLocationOverride" type="loc:Location" minOccurs="0" />
      <xs:element name="managedLogicalLocationOverride" type="vms:ManagedLogicalLocation" minOccurs="0" />
      <xs:element name="vmsFault" type="vms:VmsFault" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="_vmsStatusExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VmsTablePublication">
    <xs:complexContent>
      <xs:extension base="com:PayloadPublication">
        <xs:sequence>
          <xs:element name="headerInformation" type="com:HeaderInformation" />
          <xs:element name="vmsControllerTable" type="vms:VmsControllerTable" maxOccurs="unbounded" />
          <xs:element name="_vmsTablePublicationExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="VmsTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="colourGraphic" />
      <xs:enumeration value="rotatingPrismSign" />
      <xs:enumeration value="monochromeGraphic" />
      <xs:enumeration value="simpleMatrixSign" />
      <xs:enumeration value="fullMatrixSign" />
      <xs:enumeration value="rollerBlindSign" />
      <xs:enumeration value="virtualVms" />
      <xs:enumeration value="other" />
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="WorkingStatusEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="blank" />
      <xs:enumeration value="covered" />
      <xs:enumeration value="notWorking" />
      <xs:enumeration value="working" />
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>